* {
    box-sizing: border-box;
}

h1, h3{
text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}

.title{
    text-align: center;
    background-image: url(../images/panorama.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border: black solid 1px;
}

#underscores{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#correctGuesses{
    float: left;
}

.guesses{
    padding-bottom: 65px;
    font-size: 16px;
    font-weight: bolder;
}

.counter{
    font-weight: bolder;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
    background-image: url(../images/woo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom{
    font-weight: bolder;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    background-image: url(../images/dacrew.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    background-image: url(../images/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 70px;

}

img{
    display: inline-block;
    width: 90px;
    height: auto;
    position: relative;
    bottom: 45px;

    
}

.image-right {
    position: relative;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
}
.gif{
    width: auto;
    height: 106px;
}

.pokeball{
    display: inline-block;
    position: absolute;
    left: 45.5%;
    top: 364px;
}

